<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="footer-title container"><h2>聯絡方式<span>CONTACT METHOD</span></h2></div>
    <div class = "content-title container">
      <ul>
        <li>Mail：<a href="mailto:xxxd@hexschool.com">xxxd@hexschool.com</a></li>
        <li>Phone：<a href="tel:+886910123456">0910123456</a></li>
        <li>Kaohsiung, Taiwan</li>
        <li>作品連結：<a href="https://www.behance.net/xxxdddddd">https://www.behance.net/xxxdddddd</a></li>
      </ul>
      <div class="social-img">
        <a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week1/facebook.svg" alt="facebook"></a>
        <a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week1/instagram-alt.svg" alt="instagram"></a>
        <a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/week1/line.svg" alt="line"></a>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
