/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(css_reset.css);
body {
  font-family: "Roboto" , "Microsoft JhengHei";
  font-style: italic; }

img {
  display: block; }

.header {
  height: 100vh;
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week2/banner.png) center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nameCard li {
  color: #FFF; }

.nameCard > li.text > p {
  font-size: 24px;
  line-height: 42px; }

.nameCard > li.name > h1 {
  font-size: 80px;
  line-height: 102px; }

.nameCard > li.jobTitle {
  padding-top: 32px; }

.nameCard > li.jobTitle > p {
  font-size: 24px;
  line-height: 36px; }

.nameCard .socialImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center; }

.aboutCard {
  text-align: center; }

.aboutCard > h2 {
  padding-top: 56px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px; }

.aboutCard > img {
  padding-bottom: 20px;
  margin: 0 auto; }

.aboutCard > ul li p {
  font-size: 24px;
  line-height: 42px;
  padding-bottom: 4px; }

.aboutCard > ul li.textBottom p {
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 36px; }

.workExperience {
  margin-top: 20px;
  padding-bottom: 56px;
  border-top: 1px solid #000000; }

.workExperience li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 28px; }

.listIcon {
  background-color: #891818;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 16px; }

li.contentTitle > h2 {
  font-size: 64px;
  line-height: 84px;
  padding-top: 56px; }

.brand {
  background-color: #000000;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 120px; }
  .brand > ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .brand > ul li > p {
    font-size: 24px;
    line-height: 42px;
    padding-top: 12px; }
  .brand > ul li.brandDetails > p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    padding-top: 32px;
    padding-bottom: 68px; }
  .brand > ul li.brandImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .brand > ul li.brandImage img {
    padding-bottom: 40px;
    padding-left: 24px; }

.works {
  padding-bottom: 96px; }
  .works ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .works ul > li.workDetails p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 56px; }
  .works ul > li.workImage .workCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .works ul > li.workImage .workCard img {
      padding-right: 12px;
      padding-left: 12px; }
    .works ul > li.workImage .workCard p {
      font-size: 20px;
      line-height: 42px;
      padding-top: 16px;
      padding-bottom: 48px;
      margin: 0 auto; }

.footer {
  background: #000000;
  color: white;
  padding-bottom: 48px; }
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer li > h2 {
    font-size: 64px;
    line-height: 84px;
    padding-top: 64px;
    padding-bottom: 16px; }
  .footer li > p {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 16px;
    font-weight: 500; }
    .footer li > p a {
      text-decoration: none;
      color: #FFF; }

/*# sourceMappingURL=hw2.css.map */
